@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0; }

:root {
  --index: calc(1vw + 1vh);
  --text: #e7e7e0;
  --transition: transform .75s cubic-bezier(.075, .5, 0, 1); }

body {
  background: #474e4e;
  font-family: raleway_f, sans-serif;
  line-height: 1.55; }

.centrado {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 199;
  background: #474e4e; }

.hidden {
  overflow: hidden; }

.cssload-loader {
  width: 146px;
  height: 146px;
  line-height: 146px;
  margin: 49px auto;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  z-index: 200;
  text-transform: uppercase;
  -o-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase; }

.cssload-loader:before,
.cssload-loader:after {
  opacity: 0;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  content: "\0020";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 97px;
  border: 5px solid #9d822b;
  box-shadow: 0 0 49px white, inset 0 0 49px white;
  -o-box-shadow: 0 0 49px white, inset 0 0 49px white;
  -ms-box-shadow: 0 0 49px white, inset 0 0 49px white;
  -webkit-box-shadow: 0 0 49px white, inset 0 0 49px white;
  -moz-box-shadow: 0 0 49px white, inset 0 0 49px white; }

.cssload-loader:after {
  z-index: 200;
  animation: cssload-gogoloader 2.3s infinite 1.15s;
  -o-animation: cssload-gogoloader 2.3s infinite 1.15s;
  -ms-animation: cssload-gogoloader 2.3s infinite 1.15s;
  -webkit-animation: cssload-gogoloader 2.3s infinite 1.15s;
  -moz-animation: cssload-gogoloader 2.3s infinite 1.15s; }

.cssload-loader:before {
  z-index: 200;
  animation: cssload-gogoloader 2.3s infinite;
  -o-animation: cssload-gogoloader 2.3s infinite;
  -ms-animation: cssload-gogoloader 2.3s infinite;
  -webkit-animation: cssload-gogoloader 2.3s infinite;
  -moz-animation: cssload-gogoloader 2.3s infinite; }

@keyframes cssload-gogoloader {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }

@-o-keyframes cssload-gogoloader {
  0% {
    -o-transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -o-transform: scale(1);
    opacity: 0; } }

@-ms-keyframes cssload-gogoloader {
  0% {
    -ms-transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -ms-transform: scale(1);
    opacity: 0; } }

@-webkit-keyframes cssload-gogoloader {
  0% {
    -webkit-transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }

@-moz-keyframes cssload-gogoloader {
  0% {
    -moz-transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -moz-transform: scale(1);
    opacity: 0; } }

@font-face {
  font-family: raleway_f;
  src: url(../fuentes/raleway-regular.woff2); }

@font-face {
  font-family: raleway_f;
  src: url(../fuentes/raleway-black.woff2);
  font-weight: 900; }

.main-header {
  position: relative; }
  .main-header .layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative; }
    .main-header .layers .layer__header {
      z-index: 101;
      transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
      transition: var(--transition);
      will-change: transform;
      text-transform: uppercase;
      font-weight: 900;
      color: var(--text);
      text-shadow: 0 0 15px #9d822b; }
      .main-header .layers .layer__header .layers__title {
        font-size: calc(var(--index) * 2.65);
        letter-spacing: calc(var(--index) / 2.25); }
      .main-header .layers .layer__header .layers__caption {
        font-size: calc(var(--index) / 1.175);
        letter-spacing: calc(var(--index) / 3.5);
        margin-top: calc(var(--index) * -.75); }
    .main-header .layers .layer {
      height: 100%;
      width: 100%;
      position: absolute;
      background-size: cover;
      background-position: center;
      will-change: transform;
      z-index: 2;
      transition: var(--transition); }
    .main-header .layers .layers__base {
      transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
      z-index: 0; }
    .main-header .layers .layers__middle {
      transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0); }
    .main-header .layers .layers__front {
      transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0); }

.main-header::after {
  content: '';
  position: absolute;
  z-index: 105;
  width: 100%;
  height: calc(var(--index) * 10);
  background-image: url(../imagenes/ground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -4.5); }

.content {
  will-change: transform; }

.copy {
  position: absolute;
  bottom: calc(var(--index) * 2.5);
  opacity: .45;
  font-size: calc(var(--index) * .75);
  letter-spacing: calc(var(--index) / 37.5); }

.header_nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  z-index: 101;
  transition: height 10s cubic-bezier(0.23, 1, 0.32, 1); }
  .header_nav .logo {
    max-width: 5rem;
    border-radius: 50%;
    visibility: hidden; }
  .header_nav .nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: -100vh;
    background: #474e4e;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    padding: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: height 1s cubic-bezier(0.23, 1, 0.32, 1); }
    .header_nav .nav .nav_list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem; }
      .header_nav .nav .nav_list li a {
        text-decoration: none;
        color: #aaa49d;
        text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
        font-size: 2vh; }
      .header_nav .nav .nav_list li a:hover {
        color: white;
        text-shadow: 0 0 15px #9d822b; }
  .header_nav .visible {
    opacity: 1;
    visibility: visible; }
  .header_nav .menu_abrir,
  .header_nav .menu_cerrar {
    display: block;
    border: 0;
    font-size: 3vh;
    background-color: transparent;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 15px #9d822b; }

.container_fog {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 99; }
  .container_fog .img_fog {
    position: absolute;
    height: 100vh;
    width: 300vw;
    z-index: 2; }
  .container_fog .img_fog_1 {
    background: url("../imagenes/fog-1.png");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    animation: marquee 60s linear infinite; }
  .container_fog .img_fog_2 {
    background: url("../imagenes/fog-2.png");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    animation: marquee 30s linear infinite; }

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-200vw, 0, 0); } }

::-webkit-scrollbar {
  width: 0; }

#scroll_path {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  z-index: 12; }

#progress_bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #353228, #3d422f);
  animation: animate 5s linear infinite;
  z-index: 12; }

#progress_bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #353228, #3d422f);
  filter: blur(5px); }

#progress_bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #353228, #3d422f);
  filter: blur(5px); }

.container_products {
  display: grid;
  place-items: center;
  width: 100%;
  margin-top: 3rem; }

.products_content {
  --main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center; }
  .products_content .container_cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px; }
    .products_content .container_cards .card {
      position: relative;
      min-width: 320px;
      height: 440px;
      box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
      border-radius: 15px;
      margin: 30px;
      z-index: 105; }
      .products_content .container_cards .card .box {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        background: #474e4e;
        border: 2px solid #474e4e;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        transition: .5s;
        opacity: .5;
        cursor: pointer; }
      .products_content .container_cards .card .box:hover {
        scale: 1.05;
        opacity: 1;
        box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5); }
      .products_content .container_cards .card .cocina_1 {
        background-image: url(../imagenes/cocina_1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .cocina_2 {
        background-image: url(../imagenes/cocina_2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .cocina_3 {
        background-image: url(../imagenes/cocina_3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .cocina_4 {
        background-image: url(../imagenes/cocina_4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .cocina_5 {
        background-image: url(../imagenes/cocina_5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .cocina_6 {
        background-image: url(../imagenes/cocina_6.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .banio_1 {
        background-image: url(../imagenes/banio_1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .banio_2 {
        background-image: url(../imagenes/banio_2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .banio_3 {
        background-image: url(../imagenes/banio_3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .ropero_1 {
        background-image: url(../imagenes/ropero_1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .ropero_2 {
        background-image: url(../imagenes/ropero_2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .tv_1 {
        background-image: url(../imagenes/tv_1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }

.products_title {
  font-size: calc(var(--index) * 1.4);
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  text-shadow: 0 0 15px #9d822b; }

.products_title2 {
  font-size: calc(var(--index) * 1.65);
  text-transform: uppercase;
  font-weight: 900;
  color: #aaa49d;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1); }

@media (max-width: 760px) {
  .products_content .container_cards .card {
    min-width: 220px;
    height: 340px; } }

@media (max-width: 560px) {
  .products_content .container_cards .card {
    min-width: 160px;
    height: 260px; }
    .products_content .container_cards .card .box {
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px; } }

@media (max-width: 440px) {
  .products_content .container_cards .card {
    min-width: 140px;
    height: 240px; } }

@media (max-width: 400px) {
  .products_content .container_cards .card {
    min-width: 110px;
    height: 200px; } }

footer {
  padding: 40px 0;
  background: #474e4e;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1); }
  footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d; }
    footer .social a {
      font-size: 24px;
      color: #aaa49d;
      border: 1px solid #ccc;
      width: 40px;
      height: 40px;
      line-height: 38px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      margin: 0 8px;
      background: #474e4e;
      border: 2px solid #474e4e;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
      animation: 1s; }
    footer .social a:hover {
      scale: 1.2;
      color: white;
      text-shadow: 0 0 15px #9d822b; }
  footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center; }
    footer ul li {
      display: inline-block;
      padding: 0 15px; }
      footer ul li a {
        color: #aaa49d;
        text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
        text-decoration: none; }
      footer ul li a:hover {
        color: white;
        text-shadow: 0 0 15px #9d822b; }
  footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa; }

.porque {
  display: grid;
  place-items: center;
  width: 100%;
  margin-top: 3rem;
  text-align: center; }
  .porque h1 {
    font-size: calc(var(--index) * 1.65);
    text-transform: uppercase;
    font-weight: 900;
    color: #aaa49d;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem; }
  .porque .container_porque {
    --main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem; }
    .porque .container_porque .aprovecha,
    .porque .container_porque .asesorias,
    .porque .container_porque .eliges,
    .porque .container_porque .estilo {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: start;
      width: 70vh;
      height: 15vh;
      box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
      border-radius: 15px; }
      .porque .container_porque .aprovecha i,
      .porque .container_porque .asesorias i,
      .porque .container_porque .eliges i,
      .porque .container_porque .estilo i {
        font-size: 4vh;
        padding: 3rem;
        color: white;
        text-shadow: 0 0 15px #9d822b; }
      .porque .container_porque .aprovecha p,
      .porque .container_porque .asesorias p,
      .porque .container_porque .eliges p,
      .porque .container_porque .estilo p {
        font-size: 2vh;
        font-weight: 600;
        color: white;
        text-shadow: 0 0 15px #9d822b;
        padding-right: 3vh; }
        .porque .container_porque .aprovecha p span,
        .porque .container_porque .asesorias p span,
        .porque .container_porque .eliges p span,
        .porque .container_porque .estilo p span {
          color: #aaa49d;
          text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1); }

@media (max-width: 950px) {
  .porque .container_porque .aprovecha,
  .porque .container_porque .asesorias,
  .porque .container_porque .eliges,
  .porque .container_porque .estilo {
    width: 60vh; } }

@media (max-width: 850px) {
  .porque .container_porque .aprovecha,
  .porque .container_porque .asesorias,
  .porque .container_porque .eliges,
  .porque .container_porque .estilo {
    width: 50vh; }
    .porque .container_porque .aprovecha p,
    .porque .container_porque .asesorias p,
    .porque .container_porque .eliges p,
    .porque .container_porque .estilo p {
      font-size: 1.5vh; } }

@media (max-width: 720px) {
  .porque {
    margin-top: 15%; }
    .porque .container_porque .aprovecha,
    .porque .container_porque .asesorias,
    .porque .container_porque .eliges,
    .porque .container_porque .estilo {
      width: 40vh; }
      .porque .container_porque .aprovecha i,
      .porque .container_porque .asesorias i,
      .porque .container_porque .eliges i,
      .porque .container_porque .estilo i {
        padding: 1rem; } }

@media (max-width: 570px) {
  .porque {
    margin-top: 20%; }
    .porque .container_porque .aprovecha,
    .porque .container_porque .asesorias,
    .porque .container_porque .eliges,
    .porque .container_porque .estilo {
      width: 30vh; } }

.proceso {
  display: grid;
  place-items: center;
  width: 100%;
  margin-top: 3rem;
  text-align: center; }
  .proceso h1 {
    font-size: calc(var(--index) * 1.65);
    text-transform: uppercase;
    font-weight: 900;
    color: #aaa49d;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem; }
  .proceso .container_proceso {
    --main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem; }
    .proceso .container_proceso .visita,
    .proceso .container_proceso .disenio,
    .proceso .container_proceso .entrega {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: start;
      width: 70vh;
      height: 15vh;
      box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
      border-radius: 15px; }
      .proceso .container_proceso .visita i,
      .proceso .container_proceso .disenio i,
      .proceso .container_proceso .entrega i {
        font-size: 4vh;
        padding: 3rem;
        color: white;
        text-shadow: 0 0 15px #9d822b; }
      .proceso .container_proceso .visita p,
      .proceso .container_proceso .disenio p,
      .proceso .container_proceso .entrega p {
        font-size: 2vh;
        font-weight: 600;
        color: white;
        text-shadow: 0 0 15px #9d822b;
        padding-right: 3vh; }
        .proceso .container_proceso .visita p span,
        .proceso .container_proceso .disenio p span,
        .proceso .container_proceso .entrega p span {
          color: #aaa49d;
          text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1); }

@media (max-width: 950px) {
  .proceso .container_proceso .visita,
  .proceso .container_proceso .disenio,
  .proceso .container_proceso .entrega {
    width: 60vh; } }

@media (max-width: 850px) {
  .proceso .container_proceso .visita,
  .proceso .container_proceso .disenio,
  .proceso .container_proceso .entrega {
    width: 50vh; }
    .proceso .container_proceso .visita p,
    .proceso .container_proceso .disenio p,
    .proceso .container_proceso .entrega p {
      font-size: 1.5vh; } }

@media (max-width: 720px) {
  .proceso .container_proceso .visita,
  .proceso .container_proceso .disenio,
  .proceso .container_proceso .entrega {
    width: 40vh; }
    .proceso .container_proceso .visita i,
    .proceso .container_proceso .disenio i,
    .proceso .container_proceso .entrega i {
      padding: 1rem; } }

@media (max-width: 570px) {
  .proceso .container_proceso .visita,
  .proceso .container_proceso .disenio,
  .proceso .container_proceso .entrega {
    width: 30vh; }
    .proceso .container_proceso .visita i,
    .proceso .container_proceso .disenio i,
    .proceso .container_proceso .entrega i {
      padding: 1rem; } }

.container_cotizacion {
  display: grid;
  place-items: center;
  width: 100%;
  margin: 3rem auto;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  max-width: 1200px; }
  .container_cotizacion h1 {
    margin-top: 3rem;
    text-align: center;
    font-size: calc(var(--index) * 1.4);
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    text-shadow: 0 0 15px #9d822b; }
  .container_cotizacion h2 {
    color: #aaa49d;
    font-size: calc(var(--index) * .8);
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1); }
  .container_cotizacion .cotizacion_form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden; }
  .container_cotizacion .cotizacion_form_text,
  .container_cotizacion .cotizacion_form_text2 {
    display: block;
    width: 80%;
    margin: 16px 0;
    border: 0;
    background: black;
    padding: 20px 40px;
    outline: none;
    transition: .5s;
    text-transform: uppercase;
    font-weight: 900;
    background: #474e4e;
    border: 2px solid #474e4e;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5); }
  .container_cotizacion .cotizacion_form_text2 {
    resize: none;
    height: 120px; }
  .container_cotizacion .cotizacion_form_text:focus {
    box-shadow: 0 0 10px 4px #34495e; }
  .container_cotizacion .cotizacion_form_btn {
    float: right;
    border: 0;
    background: #474e4e;
    border: 2px solid #474e4e;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 3rem; }
  .container_cotizacion .cotizacion_form_btn:hover {
    text-shadow: 0 0 15px #9d822b;
    scale: 1.1; }

@media (max-width: 1400px) {
  .container_cotizacion {
    max-width: 900px; } }

@media (max-width: 1200px) {
  .container_cotizacion {
    max-width: 800px; } }

@media (max-width: 1000px) {
  .container_cotizacion {
    max-width: 700px; } }

@media (max-width: 800px) {
  .container_cotizacion {
    max-width: 600px; } }

@media (max-width: 600px) {
  .container_cotizacion {
    max-width: 500px; } }

@media (max-width: 500px) {
  .container_cotizacion {
    max-width: 400px; } }

@media (max-width: 400px) {
  .container_cotizacion {
    max-width: 300px; } }

.container_info_tienda {
  display: grid;
  place-items: center;
  width: 100%;
  margin-top: 3rem; }

.btn_main {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #474e4e;
  color: white;
  text-shadow: 0 0 15px #9d822b;
  border: 2px solid #474e4e;
  transition: all .3s;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer; }

.btn_main:hover {
  scale: 1.1; }

.btn_main:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff; }

.info_tienda_title {
  font-size: calc(var(--index) * 1.4);
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  text-shadow: 0 0 15px #9d822b; }

.info_tienda_title2 {
  font-size: calc(var(--index) * 1.65);
  text-transform: uppercase;
  font-weight: 900;
  color: #aaa49d;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1); }

.info_tienda_content {
  --main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center; }
  .info_tienda_content .container_info_cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px; }
    .info_tienda_content .container_info_cards .card {
      position: relative;
      min-width: 320px;
      height: 440px;
      box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
      border-radius: 15px;
      margin: 30px;
      z-index: 105; }
      .info_tienda_content .container_info_cards .card .box {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        background: #474e4e;
        border: 2px solid #474e4e;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        transition: .5s;
        opacity: .5;
        cursor: pointer; }
      .info_tienda_content .container_info_cards .card .box:hover {
        scale: 1.05;
        opacity: 1;
        box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5); }
      .info_tienda_content .container_info_cards .card .cocina_1 {
        background-image: url(../imagenes/cocina_1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .info_tienda_content .container_info_cards .card .cocina_2 {
        background-image: url(../imagenes/cocina_2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .info_tienda_content .container_info_cards .card .cocina_3 {
        background-image: url(../imagenes/cocina_3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }

.container_info_medida {
  display: grid;
  place-items: center;
  width: 100%;
  margin-top: 10%; }

.info_medida_title {
  font-size: calc(var(--index) * 1.4);
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  text-shadow: 0 0 15px #9d822b; }

.info_medida_title2 {
  font-size: calc(var(--index) * 1.65);
  text-transform: uppercase;
  font-weight: 900;
  color: #aaa49d;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1); }

.info_medida_content {
  --main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center; }
  .info_medida_content .container_info_cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px; }
    .info_medida_content .container_info_cards .card {
      position: relative;
      min-width: 320px;
      height: 440px;
      box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
      border-radius: 15px;
      margin: 30px;
      z-index: 105; }
      .info_medida_content .container_info_cards .card .box {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        background: #474e4e;
        border: 2px solid #474e4e;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        transition: .5s;
        opacity: .5;
        cursor: pointer; }
      .info_medida_content .container_info_cards .card .box:hover {
        scale: 1.05;
        opacity: 1;
        box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5); }
      .info_medida_content .container_info_cards .card .cocina_1 {
        background-image: url(../imagenes/cocina_1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .info_medida_content .container_info_cards .card .cocina_2 {
        background-image: url(../imagenes/cocina_2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .info_medida_content .container_info_cards .card .cocina_3 {
        background-image: url(../imagenes/cocina_3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }

.nosotros {
  display: grid;
  place-items: center;
  width: 100%;
  margin-top: 10%;
  text-align: center; }
  .nosotros h1 {
    font-size: calc(var(--index) * 1.65);
    text-transform: uppercase;
    font-weight: 900;
    color: #aaa49d;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem; }
  .nosotros .container_nosotros {
    --main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    flex-wrap: wrap; }
    .nosotros .container_nosotros .text_nosotros {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: start;
      width: 120vh;
      height: 45vh;
      box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
      border-radius: 15px; }
      .nosotros .container_nosotros .text_nosotros i {
        font-size: 4vh;
        padding: 3rem;
        color: white;
        text-shadow: 0 0 15px #9d822b; }
      .nosotros .container_nosotros .text_nosotros p {
        font-size: 2vh;
        font-weight: 600;
        color: white;
        text-shadow: 0 0 15px #9d822b;
        padding-right: 3vh; }
        .nosotros .container_nosotros .text_nosotros p span {
          color: #aaa49d;
          text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1); }

@media (max-width: 820px) {
  .nosotros .container_nosotros .text_nosotros {
    width: 100vh; } }

@media (max-width: 680px) {
  .nosotros {
    margin-top: 15%; }
    .nosotros .container_nosotros .text_nosotros {
      width: 80vh; }
      .nosotros .container_nosotros .text_nosotros p {
        font-size: 1.5vh; } }

@media (max-width: 550px) {
  .nosotros {
    margin-top: 20%; }
    .nosotros .container_nosotros .text_nosotros {
      width: 400px; }
      .nosotros .container_nosotros .text_nosotros i {
        padding: 1rem; } }

@media (max-width: 400px) {
  .nosotros .container_nosotros .text_nosotros {
    width: 300px; }
    .nosotros .container_nosotros .text_nosotros p {
      font-size: 8px; } }
