@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0; }

:root {
  --index: calc(1vw + 1vh);
  --text: #e7e7e0;
  --transition: transform .75s cubic-bezier(.075, .5, 0, 1); }

body {
  background: #474e4e;
  font-family: raleway_f, sans-serif;
  line-height: 1.55; }

@font-face {
  font-family: raleway_f;
  src: url(../fuentes/raleway-regular.woff2); }

@font-face {
  font-family: raleway_f;
  src: url(../fuentes/raleway-black.woff2);
  font-weight: 900; }

.main-header {
  position: relative; }
  .main-header .layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative; }
    .main-header .layers .layer__header {
      z-index: 101;
      transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
      transition: var(--transition);
      will-change: transform;
      text-transform: uppercase;
      font-weight: 900;
      color: var(--text);
      text-shadow: 0 0 15px #9d822b; }
      .main-header .layers .layer__header .layers__title {
        font-size: calc(var(--index) * 2.65);
        letter-spacing: calc(var(--index) / 2.25); }
      .main-header .layers .layer__header .layers__caption {
        font-size: calc(var(--index) / 1.175);
        letter-spacing: calc(var(--index) / 3.5);
        margin-top: calc(var(--index) * -.75); }
    .main-header .layers .layer {
      height: 100%;
      width: 100%;
      position: absolute;
      background-size: cover;
      background-position: center;
      will-change: transform;
      z-index: 2;
      transition: var(--transition); }
    .main-header .layers .layers__base {
      transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
      z-index: 0; }
    .main-header .layers .layers__middle {
      transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0); }
    .main-header .layers .layers__front {
      transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0); }

.main-header::after {
  content: '';
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 10);
  background-image: url(../imagenes/ground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -4.5); }

.content {
  will-change: transform; }

.copy {
  position: absolute;
  bottom: calc(var(--index) * 2.5);
  opacity: .45;
  font-size: calc(var(--index) * .75);
  letter-spacing: calc(var(--index) / 37.5); }

.header_nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  z-index: 101; }
  .header_nav .logo {
    max-width: 5rem;
    border-radius: 50%;
    visibility: hidden; }
  .header_nav .nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: -100vh;
    background: #474e4e;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    padding: 2rem;
    opacity: 0;
    visibility: hidden; }
    .header_nav .nav .nav_list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem; }
      .header_nav .nav .nav_list li a {
        text-decoration: none;
        color: #aaa49d;
        text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
        font-size: 2vh; }
      .header_nav .nav .nav_list li a:hover {
        color: white;
        text-shadow: 0 0 15px #9d822b; }
  .header_nav .visible {
    opacity: 1;
    visibility: visible; }
  .header_nav .menu_abrir,
  .header_nav .menu_cerrar {
    display: block;
    border: 0;
    font-size: 3vh;
    background-color: transparent;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 15px #9d822b; }

.container_fog {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 99; }
  .container_fog .img_fog {
    position: absolute;
    height: 100vh;
    width: 300vw;
    z-index: 2; }
  .container_fog .img_fog_1 {
    background: url("../imagenes/fog-1.png");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    animation: marquee 60s linear infinite; }
  .container_fog .img_fog_2 {
    background: url("../imagenes/fog-2.png");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    animation: marquee 30s linear infinite; }

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-200vw, 0, 0); } }

::-webkit-scrollbar {
  width: 0; }

#scroll_path {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  z-index: 12; }

#progress_bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #353228, #3d422f);
  animation: animate 5s linear infinite;
  z-index: 12; }

#progress_bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #353228, #3d422f);
  filter: blur(5px); }

#progress_bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #353228, #3d422f);
  filter: blur(5px); }

.container_products {
  display: grid;
  place-items: center;
  width: 100%;
  margin-top: 10%; }

.products_content {
  --main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center; }
  .products_content .container_cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px; }
    .products_content .container_cards .card {
      position: relative;
      min-width: 320px;
      height: 440px;
      box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
      border-radius: 15px;
      margin: 30px;
      z-index: 105; }
      .products_content .container_cards .card .box {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        background: #474e4e;
        border: 2px solid #474e4e;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        transition: .5s;
        opacity: .5;
        cursor: pointer; }
      .products_content .container_cards .card .box:hover {
        scale: 1.05;
        opacity: 1;
        box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5); }
      .products_content .container_cards .card .cocina_1 {
        background-image: url(../imagenes/cocina_1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .cocina_2 {
        background-image: url(../imagenes/cocina_2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .cocina_3 {
        background-image: url(../imagenes/cocina_3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .cocina_4 {
        background-image: url(../imagenes/cocina_4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .cocina_5 {
        background-image: url(../imagenes/cocina_5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .cocina_6 {
        background-image: url(../imagenes/cocina_6.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .banio_1 {
        background-image: url(../imagenes/banio_1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .banio_2 {
        background-image: url(../imagenes/banio_2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .products_content .container_cards .card .banio_3 {
        background-image: url(../imagenes/banio_3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }

.products_title {
  font-size: 5vh;
  text-transform: uppercase;
  font-weight: 900;
  color: #aaa49d;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1); }

@media (max-width: 760px) {
  .products_content .container_cards .card {
    min-width: 220px;
    height: 340px; } }

@media (max-width: 560px) {
  .products_content .container_cards .card {
    min-width: 160px;
    height: 260px; }
    .products_content .container_cards .card .box {
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px; } }

@media (max-width: 440px) {
  .products_content .container_cards .card {
    min-width: 140px;
    height: 240px; } }

@media (max-width: 400px) {
  .products_content .container_cards .card {
    min-width: 110px;
    height: 200px; } }

footer {
  padding: 40px 0;
  background: #474e4e;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1); }
  footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d; }
    footer .social a {
      font-size: 24px;
      color: #aaa49d;
      border: 1px solid #ccc;
      width: 40px;
      height: 40px;
      line-height: 38px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      margin: 0 8px;
      background: #474e4e;
      border: 2px solid #474e4e;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
      animation: 1s; }
    footer .social a:hover {
      scale: 1.2; }
      footer .social a:hover .fa-instagram {
        color: #cf2eb4; }
      footer .social a:hover .fa-facebook-f {
        color: #1e4297; }
      footer .social a:hover .fa-twitter {
        color: #52a8e7; }
      footer .social a:hover .fa-whatsapp {
        color: #1e9910; }
  footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center; }
    footer ul li {
      display: inline-block;
      padding: 0 15px; }
      footer ul li a {
        color: #aaa49d;
        text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
        text-decoration: none; }
      footer ul li a:hover {
        color: white;
        text-shadow: 0 0 15px #9d822b; }
  footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa; }

.porque {
  display: grid;
  place-items: center;
  width: 100%;
  margin-top: 10%;
  text-align: center; }
  .porque h1 {
    font-size: calc(var(--index) * 1.65);
    text-transform: uppercase;
    font-weight: 900;
    color: #aaa49d;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    padding-bottom: 3rem; }
  .porque .container_porque {
    --main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem; }
    .porque .container_porque .aprovecha,
    .porque .container_porque .asesorias,
    .porque .container_porque .eliges,
    .porque .container_porque .estilo {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: start;
      width: 70vh;
      height: 15vh;
      box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
      border-radius: 15px; }
      .porque .container_porque .aprovecha i,
      .porque .container_porque .asesorias i,
      .porque .container_porque .eliges i,
      .porque .container_porque .estilo i {
        font-size: 4vh;
        padding: 3rem;
        color: white;
        text-shadow: 0 0 15px #9d822b; }
      .porque .container_porque .aprovecha p,
      .porque .container_porque .asesorias p,
      .porque .container_porque .eliges p,
      .porque .container_porque .estilo p {
        font-size: 2vh;
        font-weight: 600;
        color: white;
        text-shadow: 0 0 15px #9d822b;
        padding-right: 3vh; }
        .porque .container_porque .aprovecha p span,
        .porque .container_porque .asesorias p span,
        .porque .container_porque .eliges p span,
        .porque .container_porque .estilo p span {
          color: #aaa49d;
          text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1); }

@media (max-width: 950px) {
  .porque .container_porque .aprovecha,
  .porque .container_porque .asesorias,
  .porque .container_porque .eliges,
  .porque .container_porque .estilo {
    width: 60vh; } }

@media (max-width: 850px) {
  .porque .container_porque .aprovecha,
  .porque .container_porque .asesorias,
  .porque .container_porque .eliges,
  .porque .container_porque .estilo {
    width: 50vh; }
    .porque .container_porque .aprovecha p,
    .porque .container_porque .asesorias p,
    .porque .container_porque .eliges p,
    .porque .container_porque .estilo p {
      font-size: 1.5vh; } }

@media (max-width: 720px) {
  .porque .container_porque .aprovecha,
  .porque .container_porque .asesorias,
  .porque .container_porque .eliges,
  .porque .container_porque .estilo {
    width: 40vh; }
    .porque .container_porque .aprovecha i,
    .porque .container_porque .asesorias i,
    .porque .container_porque .eliges i,
    .porque .container_porque .estilo i {
      padding: 1rem; } }

@media (max-width: 570px) {
  .porque .container_porque .aprovecha,
  .porque .container_porque .asesorias,
  .porque .container_porque .eliges,
  .porque .container_porque .estilo {
    width: 30vh; }
    .porque .container_porque .aprovecha i,
    .porque .container_porque .asesorias i,
    .porque .container_porque .eliges i,
    .porque .container_porque .estilo i {
      padding: 1rem; } }
