@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

@font-face {
	font-family: raleway_f;
	src: url(../fuentes/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(../fuentes/raleway-black.woff2);
	font-weight: 900;
}