.nosotros {
    display: grid;
    place-items: center;
    width: 100%;
    margin-top: 10%;
    text-align: center;
    h1 {
        font-size: calc(var(--index) * 1.65);
        text-transform: uppercase;
        font-weight: 900;
        color: #aaa49d;
        text-shadow: 5px 5px 15px rgba(0, 0, 0, .3),
                    -5px -5px 15px rgba(255, 255, 255, .1);
        padding-bottom: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .container_nosotros {
        --main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: center;
        flex-wrap: wrap;
        .text_nosotros {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: start;
            width: 120vh;
            height: 45vh;
            box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .2),
                        inset -5px -5px 15px rgba(255, 255, 255, .1),
                        5px 5px 15px rgba(0, 0, 0, .3),
                        -5px -5px 15px rgba(255, 255, 255, .1);
                        border-radius: 15px;
            i {
                font-size: 4vh;
                padding: 3rem;
                color: white;
                text-shadow: 0 0 15px #9d822b;
            }
            p {
                font-size: 2vh;
                font-weight: 600;
                color: white;
                text-shadow: 0 0 15px #9d822b;
                padding-right: 3vh;
                span {
                    color: #aaa49d;
                    text-shadow: 5px 5px 15px rgba(0, 0, 0, .3),
                                -5px -5px 15px rgba(255, 255, 255, .1);
                }
            }
        }
    }
}